@{
    ViewData["Title"] = "Privacy Policy";
    @model IEnumerable<DetailDataViewModel>

}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<table class="table" id="Tabela" cellspacing="0"
       width="100%">
    <thead>
        <tr>
            <th class="table-header">
                <b>Id</b>
            </th>
            <th class="table-header">
                <b>Boneco</b>
            </th>
            <th class="table-header">
                <b>Skins</b>
            </th>
            <th class="table-header">
                <b>SpotLight</b>
            </th>
            <th class="table-header">
                <b>Detalhes</b>
            </th>
        </tr>
    </thead>

    <tbody class="table cols-wl-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.CharName)</td>
                <td>@Html.DisplayFor(modelItem => item.Skins)</td>
                <td>@Html.DisplayFor(modelItem => item.Skin_Spotlight)</td>
                <td>
                    @{
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-film"></span> Film
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> Plus
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
